## Library Load

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns 
import scipy
from IPython.core.pylabtools import figsize
from statistical_methods import Statistics
from scipy.stats import ttest_ind

In [3]:
x = pd.read_csv('student-mat.csv')
df = x.copy()

## Exploratory Data Analysis

In [4]:
rows = df.shape[0]                   ##Chekcing the number of rows.
print(f'Number of rows: {rows}')

Number of rows: 395

In [5]:
col = df.shape[1]                  ## Checking the number of columns.
print(f'Number of columns: {col}')

Number of columns: 33

In [6]:
x = df['school'].unique()
x = pd.Series(x)                  ## Explaining the abbreviations in our dataset.
gp = x[0]
ms = x[1]

print(f'{gp} stands for Gabriel Pereira School')
print(f'{ms} stands for Mousinho da Silveira School')

GP stands for Gabriel Pereira School
MS stands for Mousinho da Silveira School

In [7]:
x = df['age'].mean()               ## Peaking a look into the mean age of our group. 
print(f'Mean age of our dataset is {round(x, 2)}.')

Mean age of our dataset is 16.7.

In [8]:
x = df['address'].unique()
x = pd.Series(x)                        ## Explaining the abbreviations in our dataset.
        
urban = x[0]
rural = x[1]

print(f'{urban} stands for urban address of the student.')
print(f'{rural} stands for rural address of the student.')

U stands for urban address of the student.
R stands for rural address of the student.

In [9]:
x = df.groupby('address').size().reset_index()       ## The number of rural and urban addressed students.
x.columns = ['Address', 'Count']
x

  Address  Count
0       R     88
1       U    307

In [11]:
x = df['famsize'].unique()
x = pd.Series(x)                           ## Explaining the abbreviations in our dataset.

gt3 = x[0]
le3 = x[1]

print(f'{gt3} stands for a family size greater than 3.')
print(f'{le3} stands for a family size less than 3.')

GT3 stands for a family size greater than 3.
LE3 stands for a family size less than 3.

In [12]:
x = df.groupby('famsize').size().reset_index()        ## The number of GT3 and LE3 family sized students.
x.columns = ['Family Size', 'Count']
x

  Family Size  Count
0         GT3    281
1         LE3    114

In [13]:
x = df.groupby('Pstatus').size().reset_index()
x.columns = ['Parents Cohabitation Status', 'Count']        ## Count of students whos parents live together or not. 
x = pd.DataFrame(x) 

def name_change(x):
    if x == 'A':
        return 'Alone'
    else:
        return 'Together'

x['Parents Cohabitation Status'] = x['Parents Cohabitation Status'].apply(name_change)
x

  Parents Cohabitation Status  Count
0                       Alone     41
1                    Together    354

In [14]:
x = df.groupby('guardian').size().sort_values(ascending=False).reset_index()    ## The count of students and their respective guardians. 
x.columns = ['Guardian', 'Count']
x

  Guardian  Count
0   mother    273
1   father     90
2    other     32

#### Moving onto data visualization with Matplotlib.